[Unit]
After=network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/Uveghaz/SensorData
ExecStart=/usr/bin/python3 /home/pi/Uveghaz/SensorData/sgp30.py
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
