[Unit]
After=network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/Uveghaz/Lighting
ExecStart=/usr/bin/python3 /home/pi/Uveghaz/Lighting/led_lights.py
Restart=always
RestartSec=5s
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
